*.egg-info
*.mo
*.py?
*.sw?
*.wpr
*~
.*
bin/
coverage/
dev/
develop-eggs/
devsrc/
dist/
docs/Makefile
docs/doctrees
docs/html
docs/make.bat
eggs/
include/
lib/
lib64
parts/
pip-selfcheck.json
var/
!.gitattributes
!.gitignore
