[buildout]
extends =
    test.cfg

parts +=
    i18ndude
    omelette
    zopepy
    sphinx
    checkversions

# One of: CRITICAL, ERROR, WARNING, INFO, DEBUG, NOTSET
log-level = INFO

[instance]
user = admin:admin
eggs +=
    plone.reload
    plone.app.debugtoolbar

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude

[omelette]
recipe = collective.recipe.omelette
eggs =
    ${instance:eggs}
    ${test:eggs}
    ${robot:eggs}

[zopepy]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = zopepy
scripts = zopepy

[sphinx]
recipe = collective.recipe.sphinxbuilder
source = ${buildout:directory}/docs
interpreter = ${buildout:directory}/bin/zopepy

[checkversions]
recipe=zc.recipe.egg
eggs=z3c.checkversions [buildout]
