include *.rst
include LICENSE.GPL
recursive-include docs *
recursive-include plone *
global-include *.mo
global-exclude *pyc *~
prune devsrc
include pyproject.toml
recursive-exclude news *
exclude news
