[buildout]
auto-checkout +=
    Plone
    Products.ATContentTypes
    Products.CMFPlone
    Products.PloneTestCase
    plone.app.controlpanel
    plone.app.portlets
    plone.app.testing
    plone.app.users


[sources]
## PLONE CORE
Plone                        = git ${pae_remotes:plone}/Plone.git                   pushurl=${pae_remotes:plone_push}/Plone.git
#
Products.ATContentTypes      = git ${pae_remotes:plone}/Products.ATContentTypes.git pushurl=${pae_remotes:plone_push}/Products.ATContentTypes.git
# branch=plip10886-event-improvements
Products.CMFPlone            = git ${pae_remotes:plone}/Products.CMFPlone.git       pushurl=${pae_remotes:plone_push}/Products.CMFPlone.git
# branch=plip10886-event-improvements
Products.PloneTestCase       = git ${pae_remotes:plone}/Products.PloneTestCase.git  pushurl=${pae_remotes:plone_push}/Products.PloneTestCase.git
# branch=plip9302-vs-event-integration
plone.app.controlpanel       = git ${pae_remotes:plone}/plone.app.controlpanel.git  pushurl=${pae_remotes:plone_push}/plone.app.controlpanel.git
# branch=plip10886-event-improvements
plone.app.portlets           = git ${pae_remotes:plone}/plone.app.portlets.git      pushurl=${pae_remotes:plone_push}/plone.app.portlets.git
# branch=plip10886-event-improvements
plone.app.testing            = git ${pae_remotes:plone}/plone.app.testing.git       pushurl=${pae_remotes:plone_push}/plone.app.testing.git
# branch=plip10886-event-improvements
plone.app.users              = git ${pae_remotes:plone}/plone.app.users.git         pushurl=${pae_remotes:plone_push}/plone.app.users.git
# branch=plip10886-event-improvements


# TODO: PAE INTEGRATION, MOVE, FIX, WRITE TESTS
#[test]
#eggs +=
#    Plone
#    Products.ATContentTypes [test]
#    Products.CMFPlone [test]
#    Products.PloneTestCase
#    plone.app.controlpanel
#    plone.app.portlets [test]
#    plone.app.testing
#    plone.app.users [test]
