[buildout]
extensions += mr.developer
auto-checkout +=
    Products.DateRecurringIndex
    icalendar
    jquery.recurrenceinput.js
    plone.event
    plone.app.event
    plone.formwidget.datetime
    plone.formwidget.recurrence

# plone.app.event source is included here, so this file can be used to extend
# other buildouts. in the local buildout.cfg, the plone.app.event checkout is
# removed.

[pae_remotes]
plone = git://github.com/plone
plone_push = git@github.com:plone
collective = git://github.com/collective
collective_push = git@github.com:collective

[sources]
Products.DateRecurringIndex  = git ${pae_remotes:collective}/Products.DateRecurringIndex.git pushurl=${pae_remotes:collective_push}/Products.DateRecurringIndex.git
icalendar                    = git ${pae_remotes:collective}/icalendar.git pushurl=${pae_remotes:collective_push}/icalendar.git
jquery.recurrenceinput.js    = git ${pae_remotes:collective}/jquery.recurrenceinput.js.git egg=false pushurl=${pae_remotes:collective_push}/jquery.recurrenceinput.js.git
plone.app.event              = git ${pae_remotes:plone}/plone.app.event.git pushurl=${pae_remotes:plone_push}/plone.app.event.git
plone.event                  = git ${pae_remotes:plone}/plone.event.git pushurl=${pae_remotes:plone_push}/plone.event.git
plone.formwidget.datetime    = git ${pae_remotes:plone}/plone.formwidget.datetime.git pushurl=${pae_remotes:plone_push}/plone.formwidget.datetime.git
plone.formwidget.recurrence  = git ${pae_remotes:plone}/plone.formwidget.recurrence.git pushurl=${pae_remotes:plone_push}/plone.formwidget.recurrence.git

# until 1.5.4 released
plone.app.jquerytools        = git ${pae_remotes:plone}/plone.app.jquerytools.git pushurl=${pae_remotes:plone_push}/plone.app.jquerytools.git

[versions]
z3c.unconfigure = 1.0.1
plone.app.portlets = 2.4.3

[test]
eggs +=
    Products.DateRecurringIndex [test]
    icalendar [test]
    plone.app.event [test]
    plone.event [test]
    plone.formwidget.datetime [archetypes,z3cform,test]
    plone.formwidget.recurrence [archetypes,z3cform,test]
