## READ ONLY GIT SOURCES

[buildout]
auto-checkout +=
    Products.CMFPlone
    Products.ATContentTypes
    Products.DateRecurringIndex
    Products.PloneTestCase
    plone.app.event
    plone.app.portlets
    plone.event
    plone.formwidget.datetime
    plone.formwidget.recurrence
    icalendar


[sources]
Products.ATContentTypes = svn https://svn.plone.org/svn/collective/Products.ATContentTypes/branches/plip10886-event-improvements
Products.PloneTestCase = svn https://svn.plone.org/svn/collective/Products.PloneTestCase/branches/plip9302-vs-event-integration

## git read only
plone.app.event = git git://github.com/collective/plone.app.event.git
Products.CMFPlone = git git://github.com/thet/Products.CMFPlone.git branch=plip10886-event-improvements
plone.app.portlets = git git://github.com/thet/plone.app.portlets.git branch=plip10886-event-improvements
Products.DateRecurringIndex = git git://github.com/collective/Products.DateRecurringIndex.git
plone.event = git git://github.com/collective/plone.event.git
plone.formwidget.datetime = git git://github.com/collective/plone.formwidget.datetime.git
plone.formwidget.recurrence = git git://github.com/collective/plone.formwidget.recurrence.git
icalendar = git git://github.com/collective/icalendar.git


[test]
eggs =
    Products.CMFPlone
    Products.ATContentTypes
    Products.PloneTestCase
    plone.app.portlets
    Products.DateRecurringIndex [test]
    plone.app.event [test]
    plone.event [test]
    plone.formwidget.datetime [archetypes,z3cform,test]
    plone.formwidget.recurrence [test]
    icalendar [test]
