/* tooltip styling. by default the element to be styled is .tooltip  */
.tooltip {
    display:none;
    background:#CCC;
    border:1px solid black;
    font-size:80%;
    padding:10px;
    margin:10px;
}

.tooltip a {
    color:black;
    font-weight:bold;
}


/* portlet calendar styles */
.portletCalendar {
    width: 100%;
    margin: 1px 0 1em 0;
}

.portletCalendar dt {
    background-color: #eee;
    font-weight: bold;
    text-align: center;
    line-height: 1.6em;
    border-bottom: none;
}

.portletCalendar dd {
    margin: 0;
    padding: 0;
}

.portletCalendar dt a#calendar-previous {
    float: left;
    padding: 0 1em;
    margin: 0 -.5em;
}

.portletCalendar dt a#calendar-next {
    float: right;
    padding: 0 1em;
    margin: 0 -.5em;
}

.portletCalendar a, .portletCalendar a:focus,
.portletCalendar a, .portletCalendar a:hover {
    text-decoration: none;
}

.ploneCalendar {
    border-spacing: 0;
    width: 100%;
}

.ploneCalendar a {
    text-decoration: none;
    border-bottom: none !important;
}

.ploneCalendar td {
    background-color: transparent;
    width: 14%;
    text-align: center;
    padding: 2px;
}

.ploneCalendar .weekdays th {
    background-color: #eee;
    text-align: center;
    padding: 2px;
    font-weight: normal;
}

.ploneCalendar .event {
    background-color: #eee;
    font-weight: bold;
}

.ploneCalendar .todayevent {
    background-color: #eee;
    border: 2px solid #205C90;
    font-weight: bold;
}

.ploneCalendar .todaynoevent {
    border: 2px solid #205C90;
}


.eventDetails .timezone {
    display:block;
    margin-top:0.5em;
    padding:0.2em 0;
    background-color:#ffe;
    color:#354;
    width:100%;
}

.eventDetails .hCalendar-hidden {
    display:none; /* hide hCal fields not useful to human eyes */
}

.eventDetails .timerange, .eventDetails .timezone {
    font-size:85%;
    line-height:1em;
    white-space:nowrap;
}

.eventDetails .datedisplay {
    line-height:1.5em;
    margin-bottom:0.2em;
    font-weight:bold;
    font-size:100%;
}

.eventDetails abbr.dtstart {
    font-weight:bold;
}

.eventDetails table.listing td {
    min-width:60%;
}

.eventDetails table.listing td p {
    margin-top:0.5em;
    margin-bottom:0;
    line-height:1.2em;
}
