.centered {
  text-align: center;
}

.recurrence_box,
.daily_box,
.weekly_box,
.monthly_box,
.yearly_box {
  display: none;
  width: 100%; /* IE8 bug */
}

.recurrence_box select {
  vertical-align: middle;
}

.recurrence_box .field {
  line-height: 2em;
}

.recurrence_time {
  margin-top: 0;
}

.recurrence_time label.fixed,
.recurrence_range label.fixed {
  width: 7em;
  display: inline-block;
}

.frequency_options {
  width: 7em;
  border-right: 1px solid #000;
  margin-right: 1em;
  float: left;
}

.frequency_content {
  float: left;
}

.range_left {
  float: left;
  width: 20em;
  margin-right: 3em;
}

.range_right {
  float: left;
}

div.time-picker {
  position: absolute;
  height: 200px;
  width: 4em; /* needed for IE */
  overflow: auto;
  background: #fff;
  border: 1px solid #000;
  z-index: 99;
}

div.time-picker-12hours {
  width: 6em; /* needed for IE */
}

div.time-picker ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

div.time-picker li {
  padding: 1px;
  cursor: pointer;
  margin: 0;
}

div.time-picker li.selected {
  background: #316AC5;
  color: #fff;
}

